h1 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(181, 82, 6);
  text-align: center;
}

.slds-m-around_large {
  background-color: rgba(239, 243, 242, 0.761);
}
c-atividade3child {
  color: rgb(104, 111, 103);
}
