h1 {
    color: rgb(0, 112, 210);
    font-weight: bold;
    text-align: center;
}

.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}

div{
    align-items: center;
}



